.title {
  color: teal;
  font-family: cursive;
}

.uppercase {
  text-transform: uppercase;
}

p {
  font-family: Arial;
}

.li-color {
  color: rebeccapurple;
  font-weight: bold;
  font-family: cursive;
}
